*, body{
    margin: 0px;
}

.body-container{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    color: white;
    font-size: 70px;
    border: 1px solid wheat;

}
/* INPUT FIELD CITY STATE DISTRICT */
input::-webkit-calendar-picker-indicator {
    display: none;
  }
#selectHeader, #places{
    width: 150px;
    height:30px;
    border-radius: 10px;
    background-color: rgb(41, 99, 117);
    padding: 5px;
    font-size: 22px;
    border: none;
    color: white;
    padding-left: 5px;
}
/* INPUT FIELS PARTICULAR PLACES */
.option{
    width: 140px;
    height: 25px;
    border-radius: 5px;
    background-color: cadetblue;
    color: white;
    font-size: 12px;
    text-align: center;
}
.weather-container{
    border: 1px solid wheat;
    width: 800px;
    height: 500px;
    border-radius: 15px;
}
.searchIcon{
    width: 120px;
    height: 10px;
    background-color: white;
    border: 1px solid wheat;
}